
@font-face {
    font-family: noto-sans-tagalog;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-tagalog/NotoSansTagalog-Regular.woff2") format("woff2"),
         url("/noto-sans-tagalog/NotoSansTagalog-Regular.woff") format("woff");
}

.font-tglg {
    font-family: noto-sans-tagalog;
}
