
@font-face {
    font-family: noto-kufi-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-kufi-arabic/NotoKufiArabic-Bold.woff2") format("woff2"),
         url("noto-kufi-arabic/NotoKufiArabic-Bold.woff") format("woff");
}

@font-face {
    font-family: noto-kufi-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-kufi-arabic/NotoKufiArabic-Regular.woff2") format("woff2"),
         url("noto-kufi-arabic/NotoKufiArabic-Regular.woff") format("woff");
}

.font-arab {
    font-family: noto-kufi-arabic;
}