
@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-Black.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-Black.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-Bold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-Bold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-Condensed.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-Condensed.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-CondensedBlack.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-CondensedBlack.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-CondensedBold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-CondensedBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-CondensedExtraBold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-CondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-CondensedExtraLight.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-CondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-CondensedLight.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-CondensedLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-CondensedMedium.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-CondensedMedium.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-CondensedSemiBold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-CondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-CondensedThin.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-CondensedThin.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-ExtraBold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensed.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensed.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedBlack.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedBold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedLight.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedMedium.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedThin.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-ExtraCondensedThin.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-ExtraLight.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-Light.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-Light.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-Medium.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-Medium.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-Regular.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-Regular.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-SemiBold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-SemiBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensed.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensed.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedBlack.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedBold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedExtraBold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedExtraLight.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedLight.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedMedium.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedSemiBold.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedThin.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-SemiCondensedThin.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-arabic;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-arabic/NotoSansArabicUI-Thin.woff2") format("woff2"),
         url("notoui-sans-arabic/NotoSansArabicUI-Thin.woff") format("woff");
}

.font-arab {
    font-family: notoui-sans-arabic;
}