
@font-face {
    font-family: noto-sans-deseret;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-deseret/NotoSansDeseret-Regular.woff2") format("woff2"),
         url("noto-sans-deseret/NotoSansDeseret-Regular.woff") format("woff");
}

.font-dsrt {
    font-family: noto-sans-deseret;
}