
@font-face {
    font-family: noto-sans-armenian;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-Black.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-Black.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-Bold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-Bold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-Condensed.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-Condensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-CondensedBlack.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-CondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-CondensedBold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-CondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-CondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-CondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-CondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-CondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-CondensedLight.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-CondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-CondensedMedium.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-CondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-CondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-CondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-CondensedThin.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-CondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-ExtraBold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-ExtraCondensed.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-ExtraCondensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedBlack.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedBold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedLight.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedMedium.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedThin.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-ExtraCondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-ExtraLight.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-Light.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-Light.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-Medium.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-Medium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-Regular.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-Regular.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-SemiBold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-SemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-SemiCondensed.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-SemiCondensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-SemiCondensedBlack.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-SemiCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-SemiCondensedBold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-SemiCondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-SemiCondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-SemiCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-SemiCondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-SemiCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-SemiCondensedLight.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-SemiCondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-SemiCondensedMedium.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-SemiCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-SemiCondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-SemiCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-SemiCondensedThin.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-SemiCondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-armenian;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-armenian/NotoSansArmenian-Thin.woff2") format("woff2"),
         url("noto-sans-armenian/NotoSansArmenian-Thin.woff") format("woff");
}

.font-armn {
    font-family: noto-sans-armenian;
}