
@font-face {
    font-family: noto-serif-armenian;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-Black.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-Black.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-Bold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-Bold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-Condensed.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-Condensed.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-CondensedBlack.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-CondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-CondensedBold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-CondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-CondensedExtraBold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-CondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-CondensedExtraLight.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-CondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-CondensedLight.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-CondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-CondensedMedium.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-CondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-CondensedSemiBold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-CondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-CondensedThin.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-CondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-ExtraBold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensed.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensed.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedBlack.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedBold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedLight.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedMedium.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedThin.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-ExtraCondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-ExtraLight.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-Light.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-Light.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-Medium.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-Medium.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-Regular.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-Regular.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-SemiBold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-SemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-SemiCondensed.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-SemiCondensed.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedBlack.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedBold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedExtraBold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedExtraLight.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedLight.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedMedium.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedSemiBold.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedThin.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-SemiCondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-serif-armenian;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-armenian/NotoSerifArmenian-Thin.woff2") format("woff2"),
         url("noto-serif-armenian/NotoSerifArmenian-Thin.woff") format("woff");
}

.font-armn {
    font-family: noto-serif-armenian;
}