
@font-face {
    font-family: noto-serif-telugu;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-telugu/NotoSerifTelugu-Bold.woff2") format("woff2"),
         url("noto-serif-telugu/NotoSerifTelugu-Bold.woff") format("woff");
}

@font-face {
    font-family: noto-serif-telugu;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-telugu/NotoSerifTelugu-Regular.woff2") format("woff2"),
         url("noto-serif-telugu/NotoSerifTelugu-Regular.woff") format("woff");
}

.font-telu {
    font-family: noto-serif-telugu;
}