
@font-face {
    font-family: noto-sans-sylotiNagri;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sylotiNagri/NotoSansSylotiNagri-Regular.woff2") format("woff2"),
         url("/noto-sans-sylotiNagri/NotoSansSylotiNagri-Regular.woff") format("woff");
}

.font-sylo {
    font-family: noto-sans-sylotiNagri;
}
