
@font-face {
    font-family: noto-sans-mandaic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-mandaic/NotoSansMandaic-Regular.woff2") format("woff2"),
         url("noto-sans-mandaic/NotoSansMandaic-Regular.woff") format("woff");
}

.font-mand {
    font-family: noto-sans-mandaic;
}