
@font-face {
    font-family: noto-sans-vai;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-vai/NotoSansVai-Regular.woff2") format("woff2"),
         url("noto-sans-vai/NotoSansVai-Regular.woff") format("woff");
}

.font-vaii {
    font-family: noto-sans-vai;
}