
@font-face {
    font-family: noto-sans-lao;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-Black.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-Black.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-Bold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-Bold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-Condensed.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-Condensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-CondensedBlack.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-CondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-CondensedBold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-CondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-CondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-CondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-CondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-CondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-CondensedLight.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-CondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-CondensedMedium.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-CondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-CondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-CondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-CondensedThin.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-CondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-ExtraBold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-ExtraCondensed.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-ExtraCondensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-ExtraCondensedBlack.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-ExtraCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-ExtraCondensedBold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-ExtraCondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-ExtraCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-ExtraCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-ExtraCondensedLight.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-ExtraCondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-ExtraCondensedMedium.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-ExtraCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-ExtraCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-ExtraCondensedThin.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-ExtraCondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-ExtraLight.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-Light.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-Light.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-Medium.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-Medium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-Regular.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-Regular.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-SemiBold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-SemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-SemiCondensed.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-SemiCondensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-SemiCondensedBlack.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-SemiCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-SemiCondensedBold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-SemiCondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-SemiCondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-SemiCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-SemiCondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-SemiCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-SemiCondensedLight.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-SemiCondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-SemiCondensedMedium.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-SemiCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-SemiCondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-SemiCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-SemiCondensedThin.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-SemiCondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-lao;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-lao/NotoSansLao-Thin.woff2") format("woff2"),
         url("noto-sans-lao/NotoSansLao-Thin.woff") format("woff");
}

.font-laoo {
    font-family: noto-sans-lao;
}