
@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-Black.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-Black.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-Bold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-Bold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-Condensed.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-Condensed.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-CondensedBlack.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-CondensedBlack.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-CondensedBold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-CondensedBold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-CondensedExtraBold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-CondensedExtraBold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-CondensedExtraLight.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-CondensedExtraLight.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-CondensedLight.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-CondensedLight.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-CondensedMedium.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-CondensedMedium.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-CondensedSemiBold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-CondensedSemiBold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-CondensedThin.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-CondensedThin.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-ExtraBold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-ExtraBold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensed.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensed.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedBlack.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedBlack.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedBold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedBold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedExtraBold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedExtraLight.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedLight.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedLight.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedMedium.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedMedium.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedSemiBold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedThin.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-ExtraCondensedThin.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-ExtraLight.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-ExtraLight.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-Light.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-Light.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-Medium.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-Medium.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-Regular.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-Regular.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-SemiBold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-SemiBold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensed.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensed.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedBlack.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedBlack.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedBold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedBold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedExtraBold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedExtraBold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedExtraLight.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedExtraLight.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedLight.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedLight.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedMedium.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedMedium.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedSemiBold.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedSemiBold.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedThin.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-SemiCondensedThin.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}

@font-face {
    font-family: notoui-sans-tamil;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-tamil/NotoSansTamilUI-Thin.woff2") format("woff2"),
         url("/notoui-sans-tamil/NotoSansTamilUI-Thin.woff") format("woff");
}

.font-taml {
    font-family: notoui-sans-tamil;
}
