
@font-face {
    font-family: noto-serif-tamil;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-Black.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-Black.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-Bold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-Bold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-Condensed.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-Condensed.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-CondensedBlack.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-CondensedBlack.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-CondensedBold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-CondensedBold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-CondensedExtraBold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-CondensedExtraBold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-CondensedExtraLight.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-CondensedExtraLight.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-CondensedLight.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-CondensedLight.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-CondensedMedium.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-CondensedMedium.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-CondensedSemiBold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-CondensedSemiBold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-CondensedThin.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-CondensedThin.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-ExtraBold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-ExtraBold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensed.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensed.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedBlack.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedBlack.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedBold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedBold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedExtraBold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedExtraLight.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedLight.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedLight.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedMedium.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedMedium.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedSemiBold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedThin.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-ExtraCondensedThin.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-ExtraLight.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-ExtraLight.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-Light.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-Light.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-Medium.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-Medium.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-Regular.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-Regular.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-SemiBold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-SemiBold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-SemiCondensed.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-SemiCondensed.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedBlack.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedBlack.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedBold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedBold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedExtraBold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedExtraBold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedExtraLight.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedExtraLight.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedLight.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedLight.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedMedium.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedMedium.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedSemiBold.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedSemiBold.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedThin.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-SemiCondensedThin.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}

@font-face {
    font-family: noto-serif-tamil;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-tamil/NotoSerifTamil-Thin.woff2") format("woff2"),
         url("/noto-serif-tamil/NotoSerifTamil-Thin.woff") format("woff");
}

.font-taml {
    font-family: noto-serif-tamil;
}
