
@font-face {
    font-family: noto-sans-batak;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-batak/NotoSansBatak-Regular.woff2") format("woff2"),
         url("/noto-sans-batak/NotoSansBatak-Regular.woff") format("woff");
}

.font-batk {
    font-family: noto-sans-batak;
}
