
@font-face {
    font-family: noto-sans-chakma;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-chakma/NotoSansChakma-Regular.woff2") format("woff2"),
         url("/noto-sans-chakma/NotoSansChakma-Regular.woff") format("woff");
}

.font-cakm {
    font-family: noto-sans-chakma;
}
