
@font-face {
    font-family: Display;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-Black.woff2") format("woff2"),
         url("Display/NotoSansDisplay-Black.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 900;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-BlackItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-BlackItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-Bold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-Bold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-BoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-BoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-Condensed.woff2") format("woff2"),
         url("Display/NotoSansDisplay-Condensed.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedBlack.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedBlack.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 900;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedBlackItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedBlackItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedBold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedBold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedBoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedBoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedExtraBold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedExtraBoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedExtraLight.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedExtraLightItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedLight.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedLight.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedLightItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedLightItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedMedium.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedMedium.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedMediumItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedMediumItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedSemiBold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 600;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedSemiBoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedSemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedThin.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedThin.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 100;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-CondensedThinItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-CondensedThinItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraBold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraBoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensed.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensed.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedBlack.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 900;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedBlackItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedBlackItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedBold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedBold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedBoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedBoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedExtraBoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedExtraLightItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedLight.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedLight.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedLightItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedLightItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedMedium.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedMediumItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedMediumItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 600;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedSemiBoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedSemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedThin.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedThin.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 100;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraCondensedThinItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraCondensedThinItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraLight.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ExtraLightItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-Italic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-Italic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-Light.woff2") format("woff2"),
         url("Display/NotoSansDisplay-Light.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-LightItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-LightItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-Medium.woff2") format("woff2"),
         url("Display/NotoSansDisplay-Medium.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-MediumItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-MediumItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-Regular.woff2") format("woff2"),
         url("Display/NotoSansDisplay-Regular.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiBold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiBold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 600;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiBoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensed.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensed.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedBlack.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 900;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedBlackItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedBlackItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedBold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedBold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedBoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedBoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedExtraBold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 700;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedExtraBoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedExtraBoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedExtraLight.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedExtraLightItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedExtraLightItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedLight.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedLight.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 300;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedLightItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedLightItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedMedium.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 400;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedMediumItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedMediumItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedSemiBold.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 600;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedSemiBoldItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedSemiBoldItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedThin.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedThin.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 100;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-SemiCondensedThinItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-SemiCondensedThinItalic.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("Display/NotoSansDisplay-Thin.woff2") format("woff2"),
         url("Display/NotoSansDisplay-Thin.woff") format("woff");
}

@font-face {
    font-family: Display;
    font-weight: 100;
    font-style: 100;
    font-display: swap;
    src: url("Display/NotoSansDisplay-ThinItalic.woff2") format("woff2"),
         url("Display/NotoSansDisplay-ThinItalic.woff") format("woff");
}

.font-latn {
    font-family: Display;
}