
@font-face {
    font-family: noto-sans-cherokee;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-cherokee/NotoSansCherokee-Black.woff2") format("woff2"),
         url("/noto-sans-cherokee/NotoSansCherokee-Black.woff") format("woff");
}

.font-cher {
    font-family: noto-sans-cherokee;
}

@font-face {
    font-family: noto-sans-cherokee;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-cherokee/NotoSansCherokee-Bold.woff2") format("woff2"),
         url("/noto-sans-cherokee/NotoSansCherokee-Bold.woff") format("woff");
}

.font-cher {
    font-family: noto-sans-cherokee;
}

@font-face {
    font-family: noto-sans-cherokee;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-cherokee/NotoSansCherokee-ExtraBold.woff2") format("woff2"),
         url("/noto-sans-cherokee/NotoSansCherokee-ExtraBold.woff") format("woff");
}

.font-cher {
    font-family: noto-sans-cherokee;
}

@font-face {
    font-family: noto-sans-cherokee;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-cherokee/NotoSansCherokee-ExtraLight.woff2") format("woff2"),
         url("/noto-sans-cherokee/NotoSansCherokee-ExtraLight.woff") format("woff");
}

.font-cher {
    font-family: noto-sans-cherokee;
}

@font-face {
    font-family: noto-sans-cherokee;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-cherokee/NotoSansCherokee-Light.woff2") format("woff2"),
         url("/noto-sans-cherokee/NotoSansCherokee-Light.woff") format("woff");
}

.font-cher {
    font-family: noto-sans-cherokee;
}

@font-face {
    font-family: noto-sans-cherokee;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-cherokee/NotoSansCherokee-Medium.woff2") format("woff2"),
         url("/noto-sans-cherokee/NotoSansCherokee-Medium.woff") format("woff");
}

.font-cher {
    font-family: noto-sans-cherokee;
}

@font-face {
    font-family: noto-sans-cherokee;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-cherokee/NotoSansCherokee-Regular.woff2") format("woff2"),
         url("/noto-sans-cherokee/NotoSansCherokee-Regular.woff") format("woff");
}

.font-cher {
    font-family: noto-sans-cherokee;
}

@font-face {
    font-family: noto-sans-cherokee;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-cherokee/NotoSansCherokee-SemiBold.woff2") format("woff2"),
         url("/noto-sans-cherokee/NotoSansCherokee-SemiBold.woff") format("woff");
}

.font-cher {
    font-family: noto-sans-cherokee;
}

@font-face {
    font-family: noto-sans-cherokee;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-cherokee/NotoSansCherokee-Thin.woff2") format("woff2"),
         url("/noto-sans-cherokee/NotoSansCherokee-Thin.woff") format("woff");
}

.font-cher {
    font-family: noto-sans-cherokee;
}
