
@font-face {
    font-family: noto-sans-arabic;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-Black.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-Black.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-Bold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-Bold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-Condensed.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-Condensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-CondensedBlack.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-CondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-CondensedBold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-CondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-CondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-CondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-CondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-CondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-CondensedLight.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-CondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-CondensedMedium.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-CondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-CondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-CondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-CondensedThin.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-CondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-ExtraBold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-ExtraCondensed.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-ExtraCondensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-ExtraCondensedBlack.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-ExtraCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-ExtraCondensedBold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-ExtraCondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-ExtraCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-ExtraCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-ExtraCondensedLight.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-ExtraCondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-ExtraCondensedMedium.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-ExtraCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-ExtraCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-ExtraCondensedThin.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-ExtraCondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-ExtraLight.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-Light.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-Light.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-Medium.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-Medium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-Regular.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-Regular.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-SemiBold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-SemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-SemiCondensed.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-SemiCondensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-SemiCondensedBlack.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-SemiCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-SemiCondensedBold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-SemiCondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-SemiCondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-SemiCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-SemiCondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-SemiCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-SemiCondensedLight.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-SemiCondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-SemiCondensedMedium.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-SemiCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-SemiCondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-SemiCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-SemiCondensedThin.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-SemiCondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-arabic;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-arabic/NotoSansArabic-Thin.woff2") format("woff2"),
         url("noto-sans-arabic/NotoSansArabic-Thin.woff") format("woff");
}

.font-arab {
    font-family: noto-sans-arabic;
}