
@font-face {
    font-family: noto-sans-yi;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-yi/NotoSansYi-Regular.woff2") format("woff2"),
         url("/noto-sans-yi/NotoSansYi-Regular.woff") format("woff");
}

.font-yiii {
    font-family: noto-sans-yi;
}
