
@font-face {
    font-family: noto-sans-sc;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sc/NotoSansSC-Regular.woff2") format("woff2"),
         url("/noto-sans-sc/NotoSansSC-Regular.woff") format("woff");
}

.font-hans {
    font-family: noto-sans-sc;
}
