
@font-face {
    font-family: noto-sans-oldpersian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-oldpersian/NotoSansOldPersian-Regular.woff2") format("woff2"),
         url("/noto-sans-oldpersian/NotoSansOldPersian-Regular.woff") format("woff");
}

.font-xpeo {
    font-family: noto-sans-oldpersian;
}
