
@font-face {
    font-family: noto-sans-glagolitic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-glagolitic/NotoSansGlagolitic-Regular.woff2") format("woff2"),
         url("/noto-sans-glagolitic/NotoSansGlagolitic-Regular.woff") format("woff");
}

.font-glag {
    font-family: noto-sans-glagolitic;
}
