
@font-face {
    font-family: noto-sans-kannada;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-kannada/NotoSansKannada-Bold.woff2") format("woff2"),
         url("/noto-sans-kannada/NotoSansKannada-Bold.woff") format("woff");
}

.font-knda {
    font-family: noto-sans-kannada;
}

@font-face {
    font-family: noto-sans-kannada;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-kannada/NotoSansKannada-Regular.woff2") format("woff2"),
         url("/noto-sans-kannada/NotoSansKannada-Regular.woff") format("woff");
}

.font-knda {
    font-family: noto-sans-kannada;
}
