
@font-face {
    font-family: noto-serif-bengali;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-bengali/NotoSerifBengali-Bold.woff2") format("woff2"),
         url("/noto-serif-bengali/NotoSerifBengali-Bold.woff") format("woff");
}

.font-beng {
    font-family: noto-serif-bengali;
}

@font-face {
    font-family: noto-serif-bengali;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-bengali/NotoSerifBengali-Regular.woff2") format("woff2"),
         url("/noto-serif-bengali/NotoSerifBengali-Regular.woff") format("woff");
}

.font-beng {
    font-family: noto-serif-bengali;
}
