
@font-face {
    font-family: noto-sans-ogham;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-ogham/NotoSansOgham-Regular.woff2") format("woff2"),
         url("noto-sans-ogham/NotoSansOgham-Regular.woff") format("woff");
}

.font-ogam {
    font-family: noto-sans-ogham;
}