
@font-face {
    font-family: noto-sans-adlam;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-adlam/NotoSansAdlam-Regular.woff2") format("woff2"),
         url("noto-sans-adlam/NotoSansAdlam-Regular.woff") format("woff");
}

.font-adlm {
    font-family: noto-sans-adlam;
}