
@font-face {
    font-family: noto-sans-linearb;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-linearb/NotoSansLinearB-Regular.woff2") format("woff2"),
         url("/noto-sans-linearb/NotoSansLinearB-Regular.woff") format("woff");
}

.font-linb {
    font-family: noto-sans-linearb;
}
