
@font-face {
    font-family: noto-sans-phoenican;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-phoenican/NotoSansPhoenician-Regular.woff2") format("woff2"),
         url("/noto-sans-phoenican/NotoSansPhoenician-Regular.woff") format("woff");
}

.font-phnx {
    font-family: noto-sans-phoenican;
}
