
@font-face {
    font-family: noto-sans-buginese;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-buginese/NotoSansBuginese-Regular.woff2") format("woff2"),
         url("noto-sans-buginese/NotoSansBuginese-Regular.woff") format("woff");
}

.font-bugi {
    font-family: noto-sans-buginese;
}