
@font-face {
    font-family: noto-emoji;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-emoji/NotoEmoji-Regular.woff2") format("woff2"),
         url("/noto-emoji/NotoEmoji-Regular.woff") format("woff");
}

.font-zzzz {
    font-family: noto-emoji;
}
