
@font-face {
    font-family: noto-sans-symbols;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-symbols/NotoSansSymbols-Black.woff2") format("woff2"),
         url("noto-sans-symbols/NotoSansSymbols-Black.woff") format("woff");
}

@font-face {
    font-family: noto-sans-symbols;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-symbols/NotoSansSymbols-Bold.woff2") format("woff2"),
         url("noto-sans-symbols/NotoSansSymbols-Bold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-symbols;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-symbols/NotoSansSymbols-ExtraBold.woff2") format("woff2"),
         url("noto-sans-symbols/NotoSansSymbols-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-symbols;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-symbols/NotoSansSymbols-ExtraLight.woff2") format("woff2"),
         url("noto-sans-symbols/NotoSansSymbols-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-symbols;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-symbols/NotoSansSymbols-Light.woff2") format("woff2"),
         url("noto-sans-symbols/NotoSansSymbols-Light.woff") format("woff");
}

@font-face {
    font-family: noto-sans-symbols;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-symbols/NotoSansSymbols-Medium.woff2") format("woff2"),
         url("noto-sans-symbols/NotoSansSymbols-Medium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-symbols;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-symbols/NotoSansSymbols-Regular.woff2") format("woff2"),
         url("noto-sans-symbols/NotoSansSymbols-Regular.woff") format("woff");
}

@font-face {
    font-family: noto-sans-symbols;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-symbols/NotoSansSymbols-SemiBold.woff2") format("woff2"),
         url("noto-sans-symbols/NotoSansSymbols-SemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-symbols;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-symbols/NotoSansSymbols-Thin.woff2") format("woff2"),
         url("noto-sans-symbols/NotoSansSymbols-Thin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-symbols;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-symbols/NotoSansSymbols2-Regular.woff2") format("woff2"),
         url("noto-sans-symbols/NotoSansSymbols2-Regular.woff") format("woff");
}

.font-zzzz {
    font-family: noto-sans-symbols;
}