
@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-Black.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-Black.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-Bold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-Bold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-Condensed.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-Condensed.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-CondensedBlack.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-CondensedBlack.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-CondensedBold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-CondensedBold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-CondensedExtraBold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-CondensedExtraBold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-CondensedExtraLight.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-CondensedExtraLight.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-CondensedLight.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-CondensedLight.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-CondensedMedium.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-CondensedMedium.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-CondensedSemiBold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-CondensedSemiBold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-CondensedThin.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-CondensedThin.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-ExtraBold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-ExtraBold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensed.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensed.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedBlack.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedBlack.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedBold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedBold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedExtraBold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedExtraLight.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedLight.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedLight.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedMedium.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedMedium.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedSemiBold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedThin.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-ExtraCondensedThin.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-ExtraLight.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-ExtraLight.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-Light.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-Light.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-Medium.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-Medium.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-Regular.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-Regular.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-SemiBold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-SemiBold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensed.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensed.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedBlack.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedBlack.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedBold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedBold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedExtraBold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedExtraBold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedExtraLight.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedExtraLight.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedLight.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedLight.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedMedium.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedMedium.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedSemiBold.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedSemiBold.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedThin.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-SemiCondensedThin.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}

@font-face {
    font-family: noto-sans-sinhala;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-sinhala/NotoSansSinhala-Thin.woff2") format("woff2"),
         url("/noto-sans-sinhala/NotoSansSinhala-Thin.woff") format("woff");
}

.font-sinh {
    font-family: noto-sans-sinhala;
}
