
@font-face {
    font-family: notoui-sans-gujarati;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-gujarati/NotoSansGujaratiUI-Bold.woff2") format("woff2"),
         url("notoui-sans-gujarati/NotoSansGujaratiUI-Bold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-gujarati;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-gujarati/NotoSansGujaratiUI-Regular.woff2") format("woff2"),
         url("notoui-sans-gujarati/NotoSansGujaratiUI-Regular.woff") format("woff");
}

.font-gujr {
    font-family: notoui-sans-gujarati;
}