
@font-face {
    font-family: noto-serif-cjkjp;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-serif-cjkjp/NotoSansCJKjp-Regular.woff2") format("woff2"),
         url("noto-serif-cjkjp/NotoSansCJKjp-Regular.woff") format("woff");
}

.font-jpan {
    font-family: noto-serif-cjkjp;
}