
@font-face {
    font-family: noto-sans-olChiki;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-olChiki/NotoSansOlChiki-Regular.woff2") format("woff2"),
         url("/noto-sans-olChiki/NotoSansOlChiki-Regular.woff") format("woff");
}

.font-olck {
    font-family: noto-sans-olChiki;
}
