
@font-face {
    font-family: noto-sans-runic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-runic/NotoSansRunic-Regular.woff2") format("woff2"),
         url("noto-sans-runic/NotoSansRunic-Regular.woff") format("woff");
}

.font-runr {
    font-family: noto-sans-runic;
}