
@font-face {
    font-family: notoui-sans-oriya;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-oriya/NotoSansOriyaUI-Bold.woff2") format("woff2"),
         url("/notoui-sans-oriya/NotoSansOriyaUI-Bold.woff") format("woff");
}

.font-orya {
    font-family: notoui-sans-oriya;
}

@font-face {
    font-family: notoui-sans-oriya;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-oriya/NotoSansOriyaUI-Regular.woff2") format("woff2"),
         url("/notoui-sans-oriya/NotoSansOriyaUI-Regular.woff") format("woff");
}

.font-orya {
    font-family: notoui-sans-oriya;
}
