
@font-face {
    font-family: noto-sans-phagsPa;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-phagsPa/NotoSansPhagsPa-Regular.woff2") format("woff2"),
         url("noto-sans-phagsPa/NotoSansPhagsPa-Regular.woff") format("woff");
}

.font-phag {
    font-family: noto-sans-phagsPa;
}