
@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-Black.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-Black.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-Bold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-Bold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-Condensed.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-Condensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-CondensedBlack.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-CondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-CondensedBold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-CondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-CondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-CondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-CondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-CondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-CondensedLight.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-CondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-CondensedMedium.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-CondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-CondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-CondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-CondensedThin.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-CondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-ExtraBold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensed.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedBlack.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedBold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedLight.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedMedium.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedThin.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-ExtraCondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-ExtraLight.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-Light.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-Light.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-Medium.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-Medium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-Regular.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-Regular.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-SemiBold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-SemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensed.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensed.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedBlack.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedBold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedExtraBold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedExtraLight.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedLight.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedLight.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedMedium.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedSemiBold.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedThin.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-SemiCondensedThin.woff") format("woff");
}

@font-face {
    font-family: noto-sans-myanmar;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-myanmar/NotoSansMyanmar-Thin.woff2") format("woff2"),
         url("noto-sans-myanmar/NotoSansMyanmar-Thin.woff") format("woff");
}

.font-mymr {
    font-family: noto-sans-myanmar;
}