
@font-face {
    font-family: noto-sans-carian;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-carian/NotoSansCarian-Regular.woff2") format("woff2"),
         url("noto-sans-carian/NotoSansCarian-Regular.woff") format("woff");
}

.font-cari {
    font-family: noto-sans-carian;
}