
@font-face {
    font-family: noto-sans-telugu;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-telugu/NotoSansTelugu-Bold.woff2") format("woff2"),
         url("/noto-sans-telugu/NotoSansTelugu-Bold.woff") format("woff");
}

.font-telu {
    font-family: noto-sans-telugu;
}

@font-face {
    font-family: noto-sans-telugu;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-telugu/NotoSansTelugu-Regular.woff2") format("woff2"),
         url("/noto-sans-telugu/NotoSansTelugu-Regular.woff") format("woff");
}

.font-telu {
    font-family: noto-sans-telugu;
}
