
@font-face {
    font-family: noto-sans-coptic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-coptic/NotoSansCoptic-Regular.woff2") format("woff2"),
         url("noto-sans-coptic/NotoSansCoptic-Regular.woff") format("woff");
}

.font-copt {
    font-family: noto-sans-coptic;
}