
@font-face {
    font-family: notoui-sans-thai;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-Black.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-Black.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-Bold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-Bold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-Condensed.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-Condensed.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-CondensedBlack.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-CondensedBlack.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-CondensedBold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-CondensedBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-CondensedExtraBold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-CondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-CondensedExtraLight.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-CondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-CondensedLight.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-CondensedLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-CondensedMedium.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-CondensedMedium.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-CondensedSemiBold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-CondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-CondensedThin.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-CondensedThin.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-ExtraBold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensed.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensed.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedBlack.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedBold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedLight.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedMedium.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedThin.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-ExtraCondensedThin.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-ExtraLight.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-Light.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-Light.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-Medium.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-Medium.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-Regular.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-Regular.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-SemiBold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-SemiBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-SemiCondensed.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-SemiCondensed.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedBlack.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedBlack.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedBold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedExtraBold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedExtraBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedExtraLight.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedExtraLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedLight.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedLight.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedMedium.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedMedium.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedSemiBold.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedSemiBold.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedThin.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-SemiCondensedThin.woff") format("woff");
}

@font-face {
    font-family: notoui-sans-thai;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("notoui-sans-thai/NotoSansThaiUI-Thin.woff2") format("woff2"),
         url("notoui-sans-thai/NotoSansThaiUI-Thin.woff") format("woff");
}

.font-thai {
    font-family: notoui-sans-thai;
}