
@font-face {
    font-family: noto-serif-malayalam;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-malayalam/NotoSerifMalayalam-Bold.woff2") format("woff2"),
         url("/noto-serif-malayalam/NotoSerifMalayalam-Bold.woff") format("woff");
}

.font-mlym {
    font-family: noto-serif-malayalam;
}

@font-face {
    font-family: noto-serif-malayalam;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-serif-malayalam/NotoSerifMalayalam-Regular.woff2") format("woff2"),
         url("/noto-serif-malayalam/NotoSerifMalayalam-Regular.woff") format("woff");
}

.font-mlym {
    font-family: noto-serif-malayalam;
}
