
@font-face {
    font-family: noto-sans-kharoshthi;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-kharoshthi/NotoSansKharoshthi-Regular.woff2") format("woff2"),
         url("noto-sans-kharoshthi/NotoSansKharoshthi-Regular.woff") format("woff");
}

.font-khar {
    font-family: noto-sans-kharoshthi;
}