
@font-face {
    font-family: noto-sans-limbu;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-limbu/NotoSansLimbu-Regular.woff2") format("woff2"),
         url("noto-sans-limbu/NotoSansLimbu-Regular.woff") format("woff");
}

.font-limb {
    font-family: noto-sans-limbu;
}