
@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-Black.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-Black.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-Bold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-Bold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-Condensed.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-Condensed.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedBlack.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedBlack.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedBold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedBold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedExtraBold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedExtraBold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedExtraLight.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedExtraLight.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedLight.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedLight.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedMedium.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedMedium.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedSemiBold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedSemiBold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedThin.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-CondensedThin.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraBold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraBold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensed.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensed.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedBlack.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedBlack.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedBold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedBold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedExtraBold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedExtraBold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedExtraLight.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedExtraLight.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedLight.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedLight.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedMedium.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedMedium.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedSemiBold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedSemiBold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedThin.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraCondensedThin.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraLight.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-ExtraLight.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-Light.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-Light.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-Medium.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-Medium.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-Regular.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-Regular.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiBold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiBold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensed.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensed.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedBlack.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedBlack.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedBold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedBold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedExtraBold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedExtraBold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedExtraLight.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedExtraLight.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedLight.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedLight.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedMedium.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedMedium.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedSemiBold.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedSemiBold.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedThin.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-SemiCondensedThin.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}

@font-face {
    font-family: notoui-sans-devanagari;
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url("/notoui-sans-devanagari/NotoSansDevanagariUI-Thin.woff2") format("woff2"),
         url("/notoui-sans-devanagari/NotoSansDevanagariUI-Thin.woff") format("woff");
}

.font-deva {
    font-family: notoui-sans-devanagari;
}
