
@font-face {
    font-family: noto-sans-saurashtra;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/noto-sans-saurashtra/NotoSansSaurashtra-Regular.woff2") format("woff2"),
         url("/noto-sans-saurashtra/NotoSansSaurashtra-Regular.woff") format("woff");
}

.font-saur {
    font-family: noto-sans-saurashtra;
}
