
@font-face {
    font-family: noto-sans-ugaritic;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("noto-sans-ugaritic/NotoSansUgaritic-Regular.woff2") format("woff2"),
         url("noto-sans-ugaritic/NotoSansUgaritic-Regular.woff") format("woff");
}

.font-ugar {
    font-family: noto-sans-ugaritic;
}